Saved/Config/CrashReportClient/
Saved/Crashes/
Saved/Logs/
Saved/Autosaves/
Intermediate/
Saved/Logs/TEST.log
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Config/Windows/GameUserSettings.ini
Saved/AutoScreenshot.png
